* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

a.section_link {
  color: #d1d1c9;
  text-decoration: underline; }
