* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

a.section_link {
  text-decoration: underline;
  color: #c0c3ce; }

a.login {
  text-decoration: underline;
  color: #ffffff; }

.header {
  background-image: url("../img/m-h-day.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
