*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  background-color: $body-color;
  font-family: map-get($map, font-1);
  font-size: 16px;
}

@mixin link {
  text-decoration: underline;
}

@mixin btn {
  display: inline-flex;
  width: 146px;
  height: 46px;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  background-color: $btn-color;
  color: $white-color;
  font-family: map-get($map, font-2);
}


a.section_link {
  @include link();
  color: $link-color;
}

a.login{
  @include link();
  color: $white-color;
}

.landing-logo{
      display: flex;
      align-items: flex-start;
      p{
        font-size: 20px;
        font-weight: bold;
        padding-left: 15px;
        letter-spacing: 3px;
        text-align: center;
        line-height: 1.5;
        span{
          display: block;
          font-size: 12px;
          font-weight: normal;
          letter-spacing: normal;
        }
      }
}

.header {
  background-image: $bg-image;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 91%, 91% 96%, 79% 99%, 63% 100%, 0% 100%);
  &-wrap{
    max-width: 900px;
    margin-left: 190px;
    padding-top: 20px;
    font-family: map-get($map, font-1);
    .landing-logo{
      @extend.landing-logo;
    }
    .header_heading{
        margin-top: 70px;
        font-size: 72px;
        color: $title-color;
        font-weight: bold;
        max-width: 550px;
        line-height: 1;
        font-family: map-get($map, font-2);
    }
    .header_text{
        margin-top: 35px;
        white-space: pre-line;
        &+div {
          margin-top: 55px;
          padding-bottom: 175px;
      }
    }
    .header_button {
      @include btn();
      margin-right: 145px;
    }
    .login{
      letter-spacing: 1px;
      font-weight: 600;
    }
    
  }
}
.section {
  padding-top: 35px;
  position: relative;
  margin-bottom: 220px;

  .section_text {
    text-align: center;
    font-size: 42px;
  }

  .section_card_wrap {
    margin: 0 auto;
    width: 1115px;
    margin-top: 25px;
    .section_card {
      border-radius: 10px;
      margin-bottom: 25px;
      padding: 20px;
      display: grid;
      grid-template-columns: 435px 1fr;
      grid-gap: 85px;
      background-color: $block-color;
      color: $link-color;
      .section_card_img {
        display: block;
        width: 100%;
        height: 285px;
        object-fit: cover;
      }
      .section_card_right_container {
        padding-top: 50px;
        padding-right: 65px;
        .section_card_heading {
          color: $white-color;
          font-family: map-get($map, font-2);
          font-size: 24px;
          margin-bottom: 40px;
          text-align: center;
        }
        .section_card_text {
          margin-bottom: 40px;
          font-family: map-get($map, font-3);
        }
        .section_link {
            text-align: center;
            display: block;
        }
      }
    }
  }
  .section_banner {
    position: absolute;
    width: 1200px;
    left: 361px;
    bottom: -293px;
    height: 145px;
    background-image: linear-gradient(45deg, $start-color, $end-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    .section_banner_button {
      @include btn();
    }
    .section_banner_heading {
      font-size: 30px;
      font-weight: 600;
      color: $title-color;
    }
    .section_banner_text {
      color: $link-color;
    }
    }
}

.footer {
  background-color: $block-color;
  padding-top: 130px;
  color: $link-color;
  padding-bottom: 45px;
  .footer-wrap {
    margin-left: 190px;
    margin-right: 190px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .footer_logo {
      @extend.landing-logo;
    }
    .footer_text{
      max-width: 315px;
      font-size: 14px;
    }
  }
}
