*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@mixin link {
  text-decoration: underline;
}

@mixin btn {
  display: inline-flex;
  width: 150px;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: $btn-color;
  color: $white-color;
}


a.section_link {
  @include link();
  color: $link-color;
}

a.login{
  @include link();
  color: $white-color;
}

.header {
  background-image: $bg-image;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}