$link-color: #c0c3ce;
$white-color: #ffffff;
$btn-color: #699900;
$bg-image: url('../img/m-h-day.jpg');
$body-color: #ffffff;
$title-color: #2C2F3C;
$block-color: #21232E;
$start-color: $btn-color;
$end-color: #2C5BDA;

$hind: 'Hind', sans-serif;
$sans: 'Source Sans Pro', sans-serif;
$fresca: 'Fresca', sans-serif;

$map: (
  font-1: $hind,
  font-2: $sans,
  font-3: $fresca
)