@media print{
  body {
    padding: 0;
  }
  .container {
    max-width: initial;
    padding: 0;
  }
  .tm-sidebar{
    display: none;
  }
  .tm-main-content {
    padding-top: 0px;
  }
  .margin-b-10 {
    margin-bottom: 0px;
  }

  .tm-team-description-container {
    text-align: center;
    max-width: initial;
    background-color: #ffffff;
  }

  .tm-team-img {
    display: none;
  }

  h2.tm-section-title {
    text-transform: uppercase;
  }

  #about {
    display: none;
  }

  .padding-medium>h2 {
    color: lightskyblue;
    text-align: center;
    font-weight: inherit;
  }

  .gallery-container {
    display: none;
  }

  .tm-content-box {
    margin-bottom: 0px;
  }

  section.tm-content-box:last-child {
    display: none;
  }

  #ideas+section {
    display: none;
  }

  .carousel-indicators {
    display: none;
  }

  .padding-medium {
    padding-top: 0px;
    padding-bottom: 20px;
  }

  .padding-medium>ol {
    list-style-type: none;
    padding-left: 0;
    max-width: 300px;
    margin: 0 auto;
  }

  .padding-medium>ol>li:nth-child(2n+1) {
    text-align: right;
  }

  .blocks .tm-section-description:last-child {
    word-spacing: 20px;
    font-style: italic;
    margin-bottom: 0px;
  }

  .carousel {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  footer.tm-footer {
    background-color: #ffffff;
  }
}

@media screen {
.tm-main-nav>ul>li a:hover{
  color: #ffffff;
  background-color: lightskyblue;
}

.tm-banner {
  background: linear-gradient(to right, lightskyblue, burlywood )
}

.tm-banner-inner {
  background-color: #ffffff;
}

.tm-banner-text {
  transform: translateX(0px);
  text-shadow: 4px 4px 3px #333;
  animation: moveText;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.tm-content-box.flex-2-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tm-content-box.flex-2-col h2 {
  text-align: center;
}

.gallery-container .box-bg:hover{
  background-color: lightgray;
  font-style: italic;
}

.gallery-container .box-bg:hover h2{
  color: lightskyblue;
}

.padding-medium>h2 {
  color: lightskyblue;
}

.padding-medium>h2:not(.tm-section-title) {
  text-align: center;
  color: lightskyblue;
}

.padding-medium>ol {
  list-style: lower-alpha;
}

.padding-medium>ol>li {
  position: relative;
}

.padding-medium>ol>li:hover::before {
  content: "\003e";
  display: inline-block;
}

.padding-medium>ol>li:first-child::after,
.padding-medium>ol>li:nth-child(3)::after{
  content: "New";
  font-variant: small-caps;
  color: red;
  font-weight: bold;
  position: absolute;
  top: -5px;
}

.blocks .padding-medium >p.tm-section-description:last-child {
  letter-spacing: 5px;
  word-spacing: 10px;
  font-style: italic;
}

.box.box-work {
  padding: 10px;
}

.box.box-work p{
  font-style: italic;
}

.box.box-work p::first-letter{
  font-weight: bold;
}

.box.box-work:nth-child(2n+1) {
  background: #87CEFA;
  color: #fff;
}

p.tm-section-description {
  text-indent: 25px;
  line-height: 30px;
}

.form-control:not(textarea) {
  border: none;
  border-bottom: 2px solid lightskyblue;
}

.form-control:not(textarea):focus {
  background-color: lightskyblue;
}

textarea.form-control {
  border-color: lightskyblue;
}

.contact-form div {
  position: relative;
}

.contact-form div:last-of-type::before {
  background-image: url('../img/email-icon.png');
  background-size: 40px 40px;
  position: absolute;
  content: "";
  width: 40px;
  height:40px;
  bottom: 10px;
  right: 10px;
}

textarea.form-control:focus {
  border-color: lightskyblue;
  box-shadow: none;
}

.tm-sidebar,
.tm-content-box,
.blocks {
  box-shadow: 6px 2px 10px rgba(61, 55, 61, 0.7);
}

.blocks div:nth-child(2){
  display: none;
}

.blocks::before,
.heading::before,
#ideas::before,
section.tm-content-box::before,
section>.tm-content-box.flex-2-col::before
 {
  content: "";
  background-image: linear-gradient(135deg, lightskyblue 50%, transparent 50%);
  width: 50px;
  height: 50px;
  position:absolute;
  top:0px;
  left:0px;
  z-index: 2;
}

.blocks,
.heading,
#ideas,
section.tm-content-box,
section>.tm-content-box.flex-2-col {
  position: relative
}





@keyframes moveText {
  from {
    transform: translateX(200px);
  }

  to {
    transform: translateX(0px);
  }
  
}

}